<main class="container h-screen d-flex justify-content-center align-items-center">
  <table class="table border border-secondary-subtle border-3">
    <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">job</th>
      <th scope="col">location</th>
      <th scope="col">phone</th>
      <th scope="col">email</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td>Maher Aladdin</td>
      <td>Software Engineer</td>
      <td>Mansoura</td>
      <td>01116491564</td>
      <td>{{ "maheraladdin@std.mans.edu.eg" }}</td>
    </tr>
    </tbody>
  </table>
</main>
